attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
codecovopentelem @ git+https://github.com/codecov/opentelem-python.git@df1e241927d4794fc0e24f96431f0fb730edac21
coverage==6.2
Deprecated==1.2.13
Flask==2.0.2
idna==3.3
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
opentelemetry-api==1.8.0
opentelemetry-instrumentation==0.27b0
opentelemetry-instrumentation-flask==0.27b0
opentelemetry-instrumentation-wsgi==0.27b0
opentelemetry-sdk==1.8.0
opentelemetry-semantic-conventions==0.27b0
opentelemetry-util-http==0.27b0
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.6
pytest==6.2.5
pytest-cov==3.0.0
requests==2.27.1
toml==0.10.2
tomli==2.0.0
urllib3==1.26.8
Werkzeug==2.0.2
wrapt==1.13.3
